
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquare';
    color: #3E3E3E;
}

body{
    min-width: 317px;
}

#header_1{  
    display: none;
}

#mainNav {
    display: none;
}

#main_01 {
    display: none;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5); 
}

.closed{
    display: none;
}

#sidemenu {
    display: block;
    position: fixed;
    width: 372px;
    height: 100%;
    background-color: #F8F8F8;
    left: -380px;
    top: 0;
    box-shadow: 1px 1px 6px 1px #3E3E3E;
    z-index: 102;
    transition: 0.8s;
}

#sidemenu .nav {
    display: block;
}

#sidemenu .nav a {
    text-decoration: none;
}

.nav_header {
    display: flex;
    padding: 15px 13px;
}

.nav_header h3 {
    padding-right: 10px;
}

.nav_header img {
    width: 18px;
    height: 26px;
}

.navbar_1 {
    display: flex;
    width: 372px;
    height: 40px;
    background-color: #EFC86A4D;
    justify-content: center;
    align-items: center;
}

.navbar_1 h4 a{
    padding: 20px;
    color: #9e6f00;
}

.navbar_2 {
    padding-left: 22px;
    border-bottom: 1px solid #BCBCBC;
}

.navbar_2 li {
    list-style: none;
    padding-top: 29px;
    font-size: 16px;
    font-weight: 400;
}

.navbar_2 li:first-child {
    padding-top: 24px;
}

.navbar_2 li:last-child {
    padding-bottom: 23px;
}

.navbar_3 {
    padding-left: 22px;
}

.navbar_3 li {
    list-style: none;
    padding-top: 29px;
    font-size: 16px;
    font-weight: 400;
}

.navbar_3 li:first-child {
    padding-bottom: 9px;
    font-size: 16px;
    font-weight: 700;
}


#header {
    display: flex;
    justify-content: center;
    height: 45px;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
}

.header_bar {
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.header_bar #menu {
    width: 18.61px;
    height: 15.91px;
    /* margin-left: 10.34px; */
}

.header_bar h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 15.84px;
    margin: 0 10px 0 15.05px;
}

.header_bar .logo {
    width: 18px;
    height: 26px;
}

.header_bar .leftside {
    display: flex;
    align-items: center;

}

.header_bar .rightside {
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.rightside h4 {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
}
.rightside h4:nth-child(1){
    margin-right: 28px;
}

.rightside a {
    text-decoration: none;
}

.container {
    width: 100%;
    /* height: 342px; */
    background-color: #EDE4DB;
}

#main_02 {
    width: 100%;
    align-items: center;
    padding-bottom: 23px;
}

.wrapper #main_02 h2 {
    font-size: 20px;
    font-weight: 400;
    padding: 69px 0 8px 44px;
}

.wrapper #main_02 h1 {
    font-size: 26px;
    font-weight: 700;
    padding: 0 0 0 44px;
}

#main_02 .line {
    width: 40px;
    margin-left: 44px;
}

#main_02 p {
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    padding: 10px 0 0 44px;
}

#main_02 button {
    background-color: #F4C1AC;
    width: 254.77px;
    height: 46px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: -2px 10px 6px -6px rgb(0 0 0 / 31%);
    font-size: 16px;
    font-weight: 700;
    margin: 23px 0 0 84px;
}

#main_02 .dots {
    text-align: center;
}

#main_02 .dots img{
    width: 13px;
}

#main_02 .dot_1 {
    margin: 35px 0 0 173px;
}


#main_02 .dot_2 {
    margin: 0 14px 0px 14px;
}


#product1 {
    text-align: center;
}

#product1 h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 21.78px;
    padding: 55px 0 15px 0;
}

#product1 p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 40px;
}

#product1 .background{
    background-image: url("../mathpage/assets/sub/subback.png");
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    z-index: -10;
    justify-content: space-between;
    margin-top: 49px;
}
#product1 .left, #product1 .right{
    width: 8px;
    height: 30px;
    display: flex;
    align-items: center;
    z-index: 2;
}

#product1 .left {
    margin-left: 24px;
}

#product1 .right {
    margin-right: 23px;
}

#product1 .pro img {
    width: 117px;
    height: 167px;
    margin-top: 49px;
    display: flex;
    align-items: center;
}
#product1 .des {
    padding: 13px 0 0 0;
}

.des span {
    font-size: 16px;
    font-weight: 400;
}

#banner1 {
    width: 100%;
    background-color: rgba(239, 200, 106, 0.3);
    margin-top: 158px;
    text-align: center;
}

#banner1 h2 {
    font-size: 20px;
    font-weight: 700;
    padding: 26px 0 15px 0;
}

#banner1 h4 {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 27px;
}

#banner2 {
    background-image: url("./assets/sub/middle.png");
    width: 100%; 
    text-align: center;
}

#banner2 .triangle {
    padding: 43.03px 0 0 306.44px;
}

#banner2 .graph{
    padding: 168.51px 0 0 227.23px;
}

#banner2 h2 {
    font-size: 20px;
    font-weight: 700;
    color: #005B4C;
    padding: 261px 0 326px 0;
}

#info-container {
    background-color: #f2f2f2;
    width: 100%;
    text-align: center;
    padding-bottom: 72px;
}

#info-container h2 {
    font-size: 20px;
    font-weight: 700;
    padding: 55px 0 15px;
}

#info-container h4 {
    font-size: 16px;
    font-weight: 400;
}

#info-container .pro_1 {
    display: flex;
    align-items: center;
    padding: 36px 0 0 73px;
}

.pro_1 img {
    width: 70.25px;
}

.pro_1 .des {
    padding-left: 26px;
}

#info-container .pro_2 {
    display: flex;
    align-items: center;
    padding: 36px 0 0 80px;
}

.pro_2 img {
    width: 66px;
}

.pro_2 .des {
    padding-left: 26px;
}

#info-container .pro_3 {
    display: flex;
    align-items: center;
    padding: 35px 0 0 86px;
}

.pro_3 img {
    width: 55.64px;
    height: 48.12px;
}

.pro_3 .des {
    padding-left: 29px;
}

#info-container .pro_4 {
    display: flex;
    align-items: center;
    padding: 46px 0 0 81px;
}

.pro_4 img {
    width: 63.5px;
    height: 45.36px;
}

.pro_4 .des {
    padding-left: 26.5px;
}

#footer {
    background-color: #005B4C;
    width: 100%;
    padding-bottom: 41px;
}

#footer .copyright span {
    color: #fff;
}

.copyright .span_1 {
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 18px 110px 40px 15px;
}
.copyright div {
    padding: 0 10px 29px 11px;
}
.copyright .span_2 {
    /* display: block; */
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.copyright .span_3 {
    font-size: 14px;
    font-weight: 400;
    padding-left: 15px;
}