
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquare';
    color: #3E3E3E;
}

body{
    min-width: 317px;
}

#header_1{
    display: none;
}

#mainNav {
    display: none;
}

.wrapper {
    display: block;
}

#main_01 {
    background-image: url("./assets/main/Rectangle\ 7.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 70%;
    width: 100%;
    height: 108px;
    text-align: center;
}

#main_01 h2 {
    padding-top: 39px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 700;
    align-items: center;
}

#product {
}


#product .main01 {
    padding: 48px 0 0 32px;
}

#product .main01 h2 {
    font-size: 19px;
    font-weight: 700;
    padding: 0 0 12px 0;
}

.main01 span {
    color: #E88C7C;
}

.main01 p {
    font-size: 16px;
    font-weight: 400;
}

.main02{
    background-image: url("./assets/sub/Rectangle\ 9.png");
    box-shadow: 0px 4px 4px 0px #00000040;
    height: 98.75px;
    text-align: center;
    vertical-align: middle;
    margin-top: 45px;
}

.main02 h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding-top: 31px;
}

.main02 span {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.main03 {
    height: 158.25px;
    text-align: center;
}

.main03 p {
    padding-top: 44.25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.7px;
}

.main03 span {
    font-size: 20px;
    font-weight: 700;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5); 
}

.closed{
    display: none;
}

#sidemenu {
    display: block;
    position: fixed;
    width: 372px;
    height: 100%;
    background-color: #F8F8F8;
    left: -380px;
    top: 0;
    box-shadow: 1px 1px 6px 1px #3E3E3E;
    z-index: 102;
    transition: 0.8s;
}

#sidemenu .nav {
    display: block;
}

#sidemenu .nav a {
    text-decoration: none;
}

.nav_header {
    display: flex;
    padding: 15px 13px;
}

.nav_header h3 {
    padding-right: 10px;
}

.nav_header img {
    width: 18px;
    height: 26px;
}

.navbar_1 {
    display: flex;
    width: 372px;
    height: 40px;
    background-color: #EFC86A4D;
    justify-content: center;
    align-items: center;
}

.navbar_1 h4 a{
    padding: 20px;
    color: #9e6f00;
}

.navbar_2 {
    padding-left: 22px;
    border-bottom: 1px solid #BCBCBC;
}

.navbar_2 li {
    list-style: none;
    padding-top: 29px;
    font-size: 16px;
    font-weight: 400;
}

.navbar_2 li:first-child {
    padding-top: 24px;
}

.navbar_2 li:last-child {
    padding-bottom: 23px;
}

.navbar_3 {
    padding-left: 22px;
}

.navbar_3 li {
    list-style: none;
    padding-top: 29px;
    font-size: 16px;
    font-weight: 400;
}

.navbar_3 li:first-child {
    padding-bottom: 9px;
    font-size: 16px;
    font-weight: 700;
}

#header {
    display: flex;
    justify-content: center;
    height: 45px;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
}

.header_bar {
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.header_bar #menu {
    width: 18.61px;
    height: 15.91px;
    /* margin-left: 10.34px; */
}

.header_bar h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 15.84px;
    margin: 0 10px 0 15.05px;
}

.header_bar .logo {
    width: 18px;
    height: 26px;
}

.header_bar .leftside {
    display: flex;
    align-items: center;

}

.header_bar .rightside {
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.rightside h4 {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
}

.rightside h4:nth-child(1){
    margin-right: 28px;
}

.rightside a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 265px;
    background-color: #EDE4DB;
}

#main_02 {
    width: 100%;
    height: 600px;
    align-items: center;
    text-align: center;
    padding-top: 32px;
}

.wrapper #main_02 h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding: 34px 0 12px 0;
}

.wrapper #main_02 h1 {
    font-size: 26px;
    font-weight: 700;
}

#main_02 img {
   padding-bottom: 6px;
}

#main_02 p {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    padding: 0 0 10px 0;
}

#main_02 button {
    background-color: #F4C1AC;
    width: 254.77px;
    height: 46px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: -2px 10px 6px -6px rgb(0 0 0 / 31%);
    font-size: 20px;
    font-weight: 400;
}

#banner {
    width: 100%;
    background-color: #F5F5F5;
    text-align: center;
}

#banner .triangle {
    padding: 72px 0 78px 0;
}

.lineup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lineup img {
    padding-bottom: 34px;
} 


.lineup img:last-child {
    padding-bottom: 83px;
}

#footer {
    background-color: #005B4C;
    width: 100%;
    padding-bottom: 41px;
}

#footer .copyright span {
    color: #fff;
}

.copyright .span_1 {
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 18px 110px 40px 15px;
}
.copyright div {
    padding: 0 10px 29px 11px;
}
.copyright .span_2 {
    /* display: block; */
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.copyright .span_3 {
    font-size: 14px;
    font-weight: 400;
    padding-left: 15px;
}