@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquare';
    color: #3E3E3E;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 76px;
}

#header a {
    text-decoration: none;
    color: #1a1a1a;
}

.header-logo {
    display: flex;
    width: 250px;
    padding: 30px;
}

.logo {
    display: flex;
    width: 65px;
    height: 95px;
    left: 0px;
    top: 6px;
}
.logo-text {
    padding-top: 20px;
}

.logo-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    width: 172px;
    padding-left: 10px;
}

.logo-text h3 {
    width: 174px;
    height: 32px;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    padding-left: 10px;
}
#navbar {
    display: flex;
    align-items: center;
    padding-right: 79px;
    padding-bottom: 80px;
}
#navbar li{
    display: flex;
    padding-right: 24px;
    font-size: 14px;
    font-weight: 400;
}

#mainNav {
    text-align: center;
    align-items: center;
    margin-top: 28 px;
}

.navList {
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
}

.navList li {
    list-style: none;
    padding-right: 99px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.43px;
}


.navList li a {
    text-decoration: none;
}

#main_01 {
    background-image: url("./assets/main/Rectangle 7.png"), url("./assets/main/Rectangle.png");
    width: 100%;
    height: 450px;
    text-align: center;
}

#main_01 h2 {
    font-size: 48px;
    font-weight: 700;
    padding-top: 184px;
}

#product .main01 {
    padding: 79px 0px 0px 289px ;

}
.main01 h2 {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 27px;
}

.main01 span {
    color: #E88C7C;
}

.main01 p {
    font-size: 28px;
    font-weight: 400;
}

.main02{
    background-image: url("./assets/sub/Rectangle\ 9.png");
    height: 223px;
    text-align: center;
    vertical-align: middle;
    margin-top: 72px;
}

.main02 h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    padding-top: 93px;
}

.main02 span {
    color: #fff;
    font-size: 36px;
    font-weight: 800;
}

.main03 {
    height: 245px;
    text-align: center;
    padding-top: 106px;
}
.main03 p {
    font-size: 28px;
    font-weight: 400;
}

.main03 span {
    font-size: 32px;
    font-weight: 700;
}

.des span {
    font-size: 28px;
    font-weight: 700;
}

#banner {
    width: 100%;
    height: 1210px;
    margin-bottom: 269px;
}

#banner img {
    width: 100%;
}

#footer {
    background-image: url("./assets/footer/Rectangle\ 4.png");
    height: 337px;
    display: flex;
    justify-content: space-around;
}

#footer .span_1 {
    padding-top: 66px;
}
#footer span {
    color: #fff;
    display: block;
    /* margin-left: 76px; */
    padding-top: 36px;
    line-height: 30px;
}

#footer img {
    justify-content: flex-end;
    padding-top: 90px;
}