@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquare';
    color: #3E3E3E;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 76px;
}

#header a {
    text-decoration: none;
    color: #1a1a1a;
}

.header-logo {
    display: flex;
    width: 250px;
    padding: 30px;
}

.logo {
    display: flex;
    width: 65px;
    height: 95px;
    left: 0px;
    top: 6px;
}
.logo-text {
    padding-top: 20px;
}

.logo-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    width: 172px;
    padding-left: 10px;
}

.logo-text h3 {
    width: 174px;
    height: 32px;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    padding-left: 10px;
}
#navbar {
    display: flex;
    align-items: center;
    padding-right: 79px;
    padding-bottom: 80px;
}
#navbar li{
    display: flex;
    padding-right: 24px;
    font-size: 14px;
    font-weight: 400;
}

#mainNav {
    text-align: center;
    align-items: center;
    margin-top: 28 px;
}

.navList {
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    margin: 0 auto;
}

.navList li {
    list-style: none;
    padding-right: 99px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.43px;
}


.navList li a {
    text-decoration: none;
}

.container {
    width: 1920px;
    margin: 0 auto;

}

.wrapper {
    width: 100%;
    display: flex;
}

#main_01 {
    margin-top: 16px;
    align-items: center;
}

#flow1 {
    background-image: url("./assets/main/main_01_bg.png");
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

#flow1 > h2 {
    font-size: 42px;
    font-weight: 400;
    padding: 134px 0 0 218px;
    animation: fadein 3s;
    /* animation-iteration-count: infinite; */
}

#flow1 > h1 {
    font-size: 66px;
    font-weight: 700;
    padding: 25px 0 0 216px;
    animation: fadein 3s;
    /* animation-iteration-count: infinite; */
}

#flow1 > h4 {
    width: 56px;
    border: #3E3E3E 2px solid;
    margin: 25px 0 0 216px;
    animation: fadein 3s;
    /* animation-iteration-count: infinite; */
}

#flow1 > p {
    font-size:26px;
    font-weight: 400;
    /* padding: 25px 0 0 216px; */
    position: absolute;
    top: 595px;
    left: -780px;
    animation: move 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    /* animation-iteration-count: infinite; */

}

#main_01 button {
    width: 390px;
    height: 71px;
    background-color: #f4c1ac;
    border: none;
    border-radius: 50px;
    font-size: 26px;
    font-weight: 400;
    position: absolute;
    top: 628px;
    left: 217px;
    margin-top: 28px;
    cursor: pointer;
    box-shadow: 6px 7px 17px -7px rgb(0 0 0 / 46%);
    animation: fadein 3s;
    /* animation-iteration-count: infinite; */
}

#main_02 {
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 0;
}

#flow2 {
    background-image: url("./assets/main/main_02_bg_2.png");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

#flow2 > h2 {
    font-size: 42px;
    font-weight: 400;
    padding: 134px 0 0 218px;
    /* animation: fadein 3s; */
}

#flow2 > h1 {
    font-size: 66px;
    font-weight: 700;
    padding: 25px 0 0 216px;
    /* animation: fadein 3s; */
}

#flow2 > h4 {
    width: 56px;
    border: #3E3E3E 2px solid;
    margin: 25px 0 0 216px;
    /* animation: fadein 3s; */
}

#flow2 > p {
    font-size:26px;
    font-weight: 400;
    padding: 25px 0 0 216px;
    /* position: absolute;
    top: 595px;
    left: -780px; */
    /* animation: drive 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards; */
}

#main_02 button {
    width: 390px;
    height: 70.33px;
    margin: 25px 0 0 216px;
    background-color: #005B4C;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 6px 7px 17px -7px rgb(0 0 0 / 46%);
    animation: fadein 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    /* animation-iteration-count: infinite; */
}


#mainImg{
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 225px;
    animation: hagsamo 0.6s;
    /* animation-iteration-count: infinite; */
}

@keyframes hagsamo {
    from {
        transform: translateX(8000px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes move {
    from { transform:  translateX(0);}
    to { transform: translateX(990px);}
  }
  

#product1 {
    text-align: center;
}

#product1 h2 {
    padding-top: 95px;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 21px;
}

#product1 p {
    font-size: 26px;
    font-weight: 400;
    padding-bottom: 58px;
}

#product1 .pro-container{ 
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    flex-wrap: wrap;
    position: absolute;
    top: 1080px;
    left: 100px;
    z-index: 0;
}
.background {
    position: absolute;
    top: 1238px;
    z-index: -1;
}

#product1 .pro {
    cursor: pointer;
    position: relative;
    text-align: center;
    padding-right: 100px;

}

#product1 .pro .left,
#product1 .pro .right{
    padding-top: 150px;
}

.des span {
    font-size: 28px;
    font-weight: 700;
}

#banner1 {
    background-image: url("./assets/sub/Rectangle\ 1.png");
    position: relative;
    height: 256px;
    margin-top: 600px; 
    text-align: center;
    align-items: center;

}

#banner1 h2 {
    padding-top: 71px;
    font-size: 48px;
    font-weight: 700;
}

#banner1 h4 {
    padding-top: 24px;
    font-size: 26px;
    font-weight: 400;
}


#banner2 {
    background-image: url("./assets/sub/middle.png");
    background-size: cover;
    background-position: center;
    height: 1625px;
    text-align: center;
}

#banner2 h2 {
    padding-top: 543px;
    font-weight: 700;
    font-size: 48px;
    color: #005B4C;
}

#info-container {
    background-image: url("./assets/footer/Rectangle.png");
    height: 556px;
    text-align: center;
}

#info-container h2 {
    font-size: 48px;
    font-weight: 700;
    padding-top: 88px;
}

#info-container h4 {
    padding-top: 30px;
    font-size: 26px;
    font-weight: 400;
}

#info-container .pro {
    width: fit-content;
    padding-right: 120px;
}

#info-container .info {
    display: flex;
    padding-top: 72px;
    padding-left: 380px;
}

#info-container img{
   width: 90px;
   height: 90px;
}

#info-container .des {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#info-container .des span{
    font-size: 26px;
    font-weight: 400;
    flex-wrap: nowrap;
    line-height: 25px;
    padding-top: 48px;
}

#footer {
    background-image: url("./assets/footer/Rectangle\ 4.png");
    height: 337px;
    display: flex;
    justify-content: space-around;
}

#footer .span_1 {
    padding-top: 66px;
}
#footer span {
    color: #fff;
    display: block;
    /* margin-left: 76px; */
    padding-top: 36px;
    line-height: 30px;
}

#footer img {
    justify-content: flex-end;
    padding-top: 90px;
}