@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquare';
    color: #3E3E3E;
}

#main_01 {
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 0;
}

#flow3 {
    background-image: url("../assets/main/main_02_bg_2.png");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

#flow3 > h2 {
    font-size: 42px;
    font-weight: 400;
    padding: 134px 0 0 218px;
    /* animation: fadein 3s; */
}

#flow3 > h1 {
    font-size: 66px;
    font-weight: 700;
    padding: 25px 0 0 216px;
    /* animation: fadein 3s; */
}

#flow3 > h4 {
    width: 56px;
    border: #3E3E3E 2px solid;
    margin: 25px 0 0 216px;
    /* animation: fadein 3s; */
}

#flow3 > p {
    font-size:26px;
    font-weight: 400;
    padding: 25px 0 0 216px;
    /* position: absolute;
    top: 595px;
    left: -780px; */
    /* animation: drive 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards; */
}

#main_01 button {
    width: 390px;
    height: 70.33px;
    margin: 25px 0 0 216px;
    background-color: #005B4C;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 6px 7px 17px -7px rgb(0 0 0 / 46%);
    animation: fadein 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}


#mainImg{
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    animation: hagsamo 0.6s;
}

@keyframes hagsamo {
    from {
        transform: translateX(8000px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
